@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

:root {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;



  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;

  width: 100%;
  max-width: 1440px;
  height: 900px;

  margin: 0 auto;

  background: #FFF;
  border-radius: 24px;

  overflow: hidden;
}

.sidebar-container {
  max-width: 264px;
  width: 100%;
  height: 900px;
  background: #F7F7F9;
  transition: all 1s ease-in-out;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

.nav-buttons_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#search-bar {
  background: #F7F7F9;
  color: #242424;
  border-radius: 8px;
  width: 232px;
  height: 48px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #9896A1;
}

#search-bar:focus {
  outline: none;
}

#search-bar::placeholder {
  position: absolute;
  top: 50%;
  left: 26%;
  font-size: 14px;
  transform: translate(-50%, -50%);
}

.search-bar_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  transform: translate(-50%, -50%);
  color: #9896A1;
}

.main-container {
  max-width: 1176px;
  width: 100%;
  height: 900px;
  background: #FFF;
  padding: 30px;
  overflow: auto;
}

.main-container::-webkit-scrollbar-track {
  background-color: #fff;
}

.main-container::-webkit-scrollbar {
  width: 10px;
  background-color: #fff;
}

.main-container::-webkit-scrollbar-thumb {
  background-color: #fff;
}

.dashboard-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .sidebar-container {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .dashboard-item:nth-of-type(1) {
    order: 1;
  }

  .dashboard-item:nth-of-type(2) {
    order: 3;
  }

  .dashboard-item:nth-of-type(3) {
    order: 2;
  }


}